.margin-top-small {
    margin-top: 5px;
}

.margin-top {
    margin-top: 10px;
}

.margin-top-large {
    margin-top: 20px;
}

.margin-side-small {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-side {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-side-large {
    margin-left: 20px;
    margin-right: 20px;
}